# Vault chiffré — ne JAMAIS committer
*.vault
.passmanager.vault

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/
dist/
build/
*.egg-info/

# Tests
.pytest_cache/
.coverage
htmlcov/

# Éditeurs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db# Vault chiffré — ne JAMAIS committer
*.vault
.passmanager.vault

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/
dist/
build/
*.egg-info/

# Tests
.pytest_cache/
.coverage
htmlcov/

# Éditeurs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
